/*RESPONSIVE*/

@media screen and (max-width:768px){
    /*Barra de navegación*/
    .menu-toggle{
        display: block;
    }

    #menu{
        background: #24262b;
        position: absolute;
        text-align: center;
        top:90px;
        left: 0;
        width: 100%;
        height: 0;
        
        overflow: hidden;
        transition: .5s ease-out;
    }

    #menu ul li{
        display: block;
    }

    #menu ul li a{
        color: #fff;
        font-size: 20px;
        border-bottom:1px solid rgb(116, 109, 109) ;
        width: 100%;
    }

    #menu ul li a:hover{
        background: #52545a;
    }
}


@media (max-width:768px){
    /*A partir de este tamaño no se muestra el slider, la razón es que es poco común ver 
    este elemento en pantallas de dispositivos moviles*/
    .slideshow-container{
        display: none;
    }
    .categoria-container{
        grid-template-columns: 1fr 1fr;
    }
    .colecciones-container{
        grid-template-columns: 1fr 1fr;
    }
    .primer-oferta{
        width: 100%;
        margin: 0 auto;
        grid-template-columns: 1fr;
        
    }
    .primer-oferta .texto-oferta{
        text-align: center;
    }

    .primer-oferta img{
        margin-top: 280px;
    }
    
    .categoria{
        margin-top: 420px;
    }

    .categoria-container{
        
        grid-template-columns: repeat(3, 1fr);
    }

    .acerca-de{
        padding: 10px;
        margin:30px auto 20px auto;
        width: 100%;
        
    }
    .acerca-de .imagen{
        width: 95%;
        margin: 0 auto;
    }
    .acerca-de .imagen img{

        width: 100%;
        order:1;
    }
    .acerca-de h2{
        padding: 0;
    }
    .acerca-container{        
        grid-template-columns: 1fr;
        width: 100%;
        /* height: 430px;     */
        margin: 0;
        display: flex;
        flex-direction: column;
    }

   
    .acerca-container .informacion .btn{
        width: 100%;
        
        margin: 10px auto;
    }

    .acerca-container .informacion{
        order: 2;
        width: 95%;
        margin: 0 auto;
    }
   

    .container-contacto{
        /* margin-top: 400px; */
        grid-template-columns: 1fr;
    }
    .container-contacto label{
        display: none;
    }
    .container-contacto input[type=submit]{
        width: 100%;
    }

    .footer-col{
        width: 50%;
        padding: 15px;
    }

}

@media (max-width:568px){
    .slideshow-container{
        display: none;
    }
    .categoria-container{
        grid-template-columns: 1fr;
    }
    .colecciones-container{
        grid-template-columns: 1fr;
    }
    
    .primer-oferta{
        width: 100%;
        margin: 0 auto;
        grid-template-columns: 1fr;
        
    }
    .primer-oferta .texto-oferta h3, .texto-oferta p{
        text-align: center;
    }
    .primer-oferta .texto-oferta button{
        
        float: none;
    }
    .primer-oferta img{
        margin-top: 400px;
    }
    .primer-oferta img{
        width: 100%;
        height: 300px;
        margin-top: 80px;
        
    }

    .categoria{
        /* margin: 190px auto; */
        margin: 190px auto 50px auto;
        
    }

    .categoria-container{
        
        grid-template-columns: repeat(2, 1fr);
    }
    .acerca-de{
        width: 95%;
        margin: 50px auto 30px auto;
    }
    .acerca-de img{
        width: 100%;
        
    }
    .contacto{
        margin: 100px auto 0;
    }
    .footer-col{
        width: 100%;
        padding:  15px;
        text-align: center;
    }

    .footer-col h4::before{
        display: none;
    }

}

@media (max-width:450px){
    .categoria{
        margin-top:300px ;
    }
    .categoria-container{
        grid-template-columns: 1fr;
    }
    .ofertas{
        
        height: auto;
    }
    .primer-oferta{
        width: 100%;
        height: 300px;
        margin: 20px 0;
    }
    .ofertas .texto-oferta  h3{
        text-align: center;
        font-size: 30px;
    }   
    .ofertas .texto-oferta button{
        float: none;
    }
    
    .contacto{
        margin-top: 230px;    
    }
}